[submodule "mazegen"]
	path = mazegen
	url = https://github.com/aleksandrbazhin/mazegen.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "imgui-sfml"]
	path = imgui-sfml
	url = https://github.com/SFML/imgui-sfml
